<!doctype html>
<html>
    <head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></head>
    <body style="background-color:#bbf2fa;">
        <div class="container" style="text-align: center">
            <h1 style="text-align:center">Nature Image search engine</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="query_img" style="margin:0px 425px ; display:block;"/><br>
                <input type="submit">
            </form>
            <h2 style="text-align:center">Query:</h2>
            {% if query_path %}
            <img src="{{ query_path }}" width="300px">
            {% endif %}
            <h2 style="text-align:center">Results:</h2>
            {% for score in scores %}
            <figure style="float: left; margin-left: 35px; margin-bottom: 20px;">
                <img src="{{ score[1] }}" height="200px">
                
            </figure>
            {% endfor %}
        </div>
    </body>
</html>


